
#title{
    background-color:  rgb(29, 83, 91);
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#col-lg-4{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}